.banner {
    display: none;
}

form {
    margin-top: 20px;
}

 .scroll img {
    position: absolute;
   
    object-fit: cover;
    pointer-events: none;
}

#right_car{
    right: 400px;
}

#left_car{

    left: 0px;
}

#center_car{
    left: 25%;
    height: 40px;
}

#bottom_car{
    left: 35%;
    height: 400px;
}

.even-cell{

    background-color: greenyellow;
    color: rgb(10, 54, 251);
    transition: background-color 0.5s, color 0.5s;

}

.odd-cell{

    background-color: rgb(10, 54, 251);
    color: greenyellow;
    transition: background-color 0.5s, color 0.5s;

}
