{% extends "base.html" %} {% block title %}

<title>About Page</title>

{% endblock %} {% block content %}

<h1>О нашей компании</h1>
<p>Добро пожаловать в MyAutoShow.by
    <dfn title=" Добро пожаловать в MyAutoShow.by "> – вашему надежному партнеру
        в
        мире
        автомобилей! Мы гордимся тем, что предлагаем широкий ассортимент
        высококачественных автомобилей, а также профессиональное обслуживание и
        индивидуальный подход к каждому клиенту. Наш <a href="#History">опыт и преданность качеству</a>
        сделали нас лидерами в отрасли, и мы всегда готовы помочь вам найти
        идеальный
        автомобиль, который отвечает вашим потребностям и ожиданиям. Доверьтесь
        нам
        в
        выборе вашего следующего автомобиля, и вы убедитесь в нашей преданности
        вашему
        комфорту и удовлетворению от покупки.</dfn>
</p>
<h2>Наши особенности:</h2>
<ul>
    <li>
        <strong>Широкий ассортимент:</strong> Мы предлагаем разнообразие
        автомобилей
        от ведущих мировых производителей, чтобы удовлетворить самые разные
        потребности и бюджеты.
    </li>
    <li>
        <strong>Профессиональное обслуживание:</strong> Наши сотрудники -
        опытные
        эксперты в области автомобилей и всегда готовы поделиться своими
        знаниями и
        опытом.
    </li>
    <li>
        <strong>Индивидуальный подход:</strong> Мы понимаем, что каждый клиент
        уникален, поэтому мы готовы предоставить вам персональное внимание и
        решения, которые соответствуют именно вашим ожиданиям.
    </li>
</ul>

<p>
    Мы гордимся нашей репутацией и постоянно работаем над тем, чтобы быть
    лучшими
    в том, что мы делаем. MyAutoShow.by – это не просто автосалон; это место,
    где
    вы можете найти свой идеальный автомобиль и получить выдающееся
    обслуживание.
</p>

<p>
    <a href="#Contacts">Свяжитесь с нами сегодня</a>, чтобы начать вашу автомобильную путешествие с
    MyAutoShow.by.
    Наша команда с нетерпением ждет вас и готова помочь вам воплотить
    в
    жизнь ваши автомобильные мечты.
</p>

<h1>Наше видео</h1>

<div style="text-align: center;">
    <video width="720" height="440" controls>
        <source src="../media/images/video.mp4" type="video/mp4">
        Ваш браузер не поддерживает видео.
    </video>
</div>

<h1>Наш логотип:</h1>
<div style="text-align: center;">

    <img src="../media/images/лого.png" alt="Логотип" />
</div>

<h1 id = "History">История нашей компании: Путешествие сквозь Годы</h1>

<h2>2000: Основание</h2>
<p>MyAutoShow.by была основана в 2000 году группой энтузиастов с одной
    общей целью - изменить мир. Мы начали с маленького офиса и больших мечт.</p>

<h2>2005: Первый Прорыв</h2>
<p>Спустя пять лет упорных труда и решимости, мы добились своего первого
    крупного успеха. Наш продукт MyAutoShow.by стал хитом рынка и признан
    лучшим в своем классе.</p>

<h2>2010: Мировое признание</h2>
<p>В 2010 году наша компания стала мировым лидером в своей отрасли. Мы получили
    многочисленные награды за инновации и качество наших продуктов.</p>

<h2>2015: Экспансия</h2>
<p>После успешной локализации на рынках Европы и Азии, мы начали экспансию в
    новые регионы и запустили MyAutoShow.by, что расширило нашу
    глобальную аудиторию.</p>

<h2>2020: Вызовы и Ответы</h2>
<p>Год 2020 ознаменовался вызовами для многих компаний, и мы не были
    исключением. Но мы адаптировались, перешли на удаленную работу и усилили
    поддержку наших клиентов, подтвердив наше прочное обязательство.</p>

<h2>2025: Будущее</h2>
<p>Сегодня MyAutoShow.by продолжает стремиться к инновациям, качеству и
    удовлетворению наших клиентов. Мы с нетерпением ожидаем будущих вызовов и
    возможностей, которые принесет каждый новый год.</p>

<h1 id = "Contacts">Реквизиты</h1>

<p><strong>Адрес:</strong> ул. Петруся бровки 6, Минск, 220004.</p>
<p><strong>Телефон:</strong> +375 (29) 123-789-0</p>
<p><strong>Электронная почта:</strong> <a href="#">MyAutoShow@gmail.com</a></p>

<h2>Часы работы:</h2>
<p>Понедельник - Пятница: 9:00 AM - 6:00 PM</p>
<p>Суббота: 10:00 AM - 3:00 PM</p>
<p>Воскресенье: Выходной</p>

<h2>Социальные медиа:</h2>
<ul>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">LinkedIn</a></li>
</ul>

<h2>Номера для обратной связи:</h2>
<ul>
    <li>Продажи: +375 (29) 333-789-0</li>
    <li>Поддержка: +375 (29) 223-734-5</li>
    <li>Техническая помощь: +375 (44) 336-369-2</li>
</ul>

<h1>СЕРТИФИКАТ</h1>
<p>Настоящим удостоверяется, что</p>
<h2>MyAutoShow</h2>
<p>является официальным владельцем и администратором веб-сайта</p>
<h3>MyAutoShow.by</h3>
<p>в течение срока действия данного сертификата.</p>
<p>Сертификат выдан 01.01.2015 и действителен до 01.01.2025.</p>
<p>Этот сертификат подтверждает, что MyAutoShow обладает всеми
    необходимыми правами и полномочиями на управление и содержание
    MyAutoShow.by.</p>
<div>
    <p><em>Подпись уполномоченного лица</em></p>
    <p><strong>Шматов А.П.</strong></p>
    <p>Владелец</p>
    <p>MyAutoShow</p>
</div>
<p>Для подтверждения действительности этого сертификата, пожалуйста, посетите
    наш веб-сайт MyAutoShow.by или свяжитесь с нами по телефону +375 (44)
    336-369-2.</p>

{%endblock%}
