<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="icon" href="../media/images/лого.ico" type="image/x-icon">

<head>
   {% block title %}{%endblock%}
</head>
<body>
  <div style="float: right; margin-right: 10px;" class="cart">
      {%if user.is_authenticated%}
      {% with total_items=cart|length %}
          {% if cart|length > 0 %}
              Ваша корзина:
              <a href="{% url 'cart:cart_detail' %}">
                  {{ total_items }} item{{ total_items|pluralize }},
                  ${{ cart.get_total_price }}
              </a>
          {% else %}
              Ваша корзина пуста.
          {% endif %}
      {% endwith %}
      {%endif%}
      {% if user.is_authenticated %}
              |{{ user.username }}|
              <a href="{% url 'main:logout' %}">Выйти</a>
              {% else %}
              <a href="{% url 'main:login' %}">Войти</a>
              <a href="{% url 'main:register' %}">Зарегистрироваться</a>
              {% endif %}
  </div>

  <nav class="menu">
    <ul style="padding-left: 0; margin-left: 0;">
        <li style="display: inline;"><a href="{% url 'main:index' %}">Главная</a></li>&nbsp;
        <li style="display: inline;"><a href="{% url 'main:cars' %}">Все Машины</a></li>&nbsp;
        <li style="display: inline;"><a href="{%url 'main:about'%}">О компании</a></li>&nbsp;
        <li style="display: inline;"></li><a href="{% url 'main:news' %}">Новости</a></li>&nbsp;
        <li style="display: inline;"></li><a href="{%url 'main:FAQ'%}">Словарь терминов и понятий</a></li>&nbsp;
        <li style="display: inline;"></li><a href="{%url 'main:contacts'%}">Контакты</a></li>&nbsp;
        <li style="display: inline;"></li><a href="{% url 'main:privacy_policy'%}">Политика конфиденциальности</a></li>&nbsp;
        <li style="display: inline;"></li><a href="{% url 'main:vacancies'%}">Вакансии</a></li>&nbsp;
        <li style="display: inline;"></li><a href="{% url 'main:reviews'%}">Отзывы</a></li>&nbsp;
        <li style="display: inline;"></li><a href="#">Промокоды и купоны</a></li>&nbsp;
    </ul>
    </nav>


    {%block content%}
    
    {%endblock%}
</body>
</html>