<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Arsenii Shmatov">
    <meta name="description"
        content="Автосалон MyAutoShow.by предлагает широкий выбор новых и подержанных автомобилей. Мы также предоставляем профессиональное обслуживание и консультации клиентам.">
    <meta name="keywords"
        content="автосалон, автомобили, продажа авто, подержанные автомобили, обслуживание авто">

    <link rel="icon" href="../media/images/лого.ico" type="image/x-icon">

    <head>
        {% block title %}{%endblock%}
    </head>
    <body>

        <div
            style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex-grow: 1;">
                <header style="text-align: center;">
                    <h1>Автосалон MyAutoShow</h1>
                </header>
            </div>

            <div style="float: right; margin-right: 10px;" class="cart">
                {%if user.is_authenticated%}
                {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                Ваша корзина:
                <a href="{% url 'cart:cart_detail' %}">
                    {{ total_items }} item{{ total_items|pluralize }},
                    ${{ cart.get_total_price_after_discount }}
                </a>
                {% else %}
                Ваша корзина пуста.
                {% endif %}
                {% endwith %}
                {%endif%}
                {% if user.is_authenticated %}
                |{{ user.username }}|
                <a href="{% url 'main:logout' %}">Выйти</a>
                {% else %}
                <a href="{% url 'main:login' %}">Войти</a>
                <a href="{% url 'main:register' %}">Зарегистрироваться</a>
                {% endif %}
            </div>
        </div>

        <nav class="menu">
            <ul style="padding-left: 0; margin-left: 0;">
                <li style="display: inline;"><a href="{% url 'main:index' %}">Главная</a></li>&nbsp;
                <li style="display: inline;"><a href="{% url 'main:cars' %}">Все
                        Машины</a></li>&nbsp;
                <li style="display: inline;"><a href="{%url 'main:about'%}">О
                        компании</a></li>&nbsp;
                <li style="display: inline;"><a href="{%url 'main:contacts'%}">Контакты</a></li>&nbsp;
                <li style="display: inline;"><a href="{% url 'main:reviews'%}">Отзывы</a></li>&nbsp;
            </ul>
        </nav>
        <main style="display: flex;">
            <div style="width: 80%;" style="flex-grow: 1;">
                {% block content %}
                {% endblock %}
            </div>

            <aside style="width: 20%; padding-left: 50px;">
                <ul style="padding-left: 0; margin-left: 0;">
                    <li><a href="{% url 'main:news' %}">Новости</a></li>&nbsp;
                    <li><a href="{% url 'main:vacancies'%}">Вакансии</a></li>&nbsp;
                    <li>
                        {% if user.is_authenticated %}
                        <a href="{% url 'main:promotional_code' %}">Промокоды и
                            купоны</a>
                        {% else %}
                        <a
                            href="{% url 'main:login' %}?next={% url 'main:promotional_code' %}">Промокоды
                            и купоны</a>
                        {% endif %}
                    </li>&nbsp;
                </ul>
                <p>Ниже приведен пример кода на Python:</p>
                <p>
                    <code>
                        def greet(name): <br>&nbsp;
                          return "Hello, " + name + "!"<br> <br>
                
                        person = "Alice"<br>
                        greeting = greet(person) <br>
                        print(greeting) <br>
                    </code>
                  </p>
                  <p>The function in this example is <var> greet</var></p>
                  <p>The output from the code is: <samp> Hello, Alice!</samp></p>
                  <p>When asked for the name, I typed: <kbd> Alice</kbd></p>

                  <abbr title="World Wide Web">WWW</abbr>
                  
            </aside>
        </main>

        <footer style="padding-top: 200px;">
            <div
                style="display: flex; justify-content: space-between; align-items: center;">
                <p>&copy; 2023 Автосалон MyAutoShow</p>
                <nav class="menu">
                    <ul
                        style="padding-left: 0; margin-left: 0; list-style: none;">
                        <li style="display: inline; margin-right: 10px;"><a
                                href="{%url 'main:FAQ'%}">Словарь терминов и
                                понятий</a></li>
                        <li style="display: inline;"><a
                                href="{% url 'main:privacy_policy'%}">Политика
                                конфиденциальности</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

    </body>
</html>