{% extends "base.html" %}

{% block title %}

<title>Car Details Page</title>

{% endblock %}

{% block content %}
{%if request.user.is_staff%}

<div>
    <a href="edit/{{car.id}}/">Edit car</a>
    <a href="delete/{{car.id}}">Delete car</a>

</div>
{%endif%}
<img src="{{car.photo.url}}" style="width: 500px; height: 300px;">
<ul>
<li>{{car.brand}}</li>
<li>{{car.model}}</li>
<li>{{car.cost}}</li>
<li>{{car.description}}</li>
<li>{{car.color}}</li>
<li>{{car.year_of_publication}}</li>
<li>{{car.carcass_type}}</li>
<li>{{car.producer}}</li>

{%if user.is_authenticated%}
<form action="{% url 'cart:cart_add' car.id %}" method="post">
    {{ cart_car_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
</form>
{%endif%}

</ul>
{% endblock %}
