{% extends "base.html" %}
{% load static %}

{%block css %}

<link rel="stylesheet" type="text/css" href="{% static 'main/carsss.css' %}">
{%endblock%}
{% block title %}

<title>Cars Page</title>

{% endblock %}

{% block content %}
<div class="main-content">

<form action="{{ request.get_full_path }}" method="get" class="sort-form">
    <button type="submit" name="sort_price" value="ascending" class="sort-button">Сортировать по цене (по возрастанию)</button>
    <button type="submit" name="sort_price" value="descending" class="sort-button">Сортировать по цене (по убыванию)</button>
    <button type="submit" name="sort_year" value="ascending" class="sort-button">Сортировать по году выпуска (по возрастанию)</button>
    <button type="submit" name="sort_year" value="descending" class="sort-button">Сортировать по году выпуска (по убыванию)</button>
 </form>
 
 <div id="sidebar">
   
    
    <form action="{% url 'main:cars' %}" method="get" class="filter-form">
     <label for="carcass_type">Выберите тип кузова:</label>
     <select id="carcass_type" name="carcass_type" class="filter-select">
         <option value="">Все автомобили</option>
         {% for c in carcass_types %}
             <option value="{{ c.designation }}" {% if car_carcass == c.designation %}selected{% endif %}>
                 {{ c.designation }}
             </option>
         {% endfor %}
     </select>
     <button type="submit" class="filter-button">Применить</button>
 </form>
 
 <h3>Доступные машины</h3>
</div>
<ul class="cars">
    {% for car in cars%}
    <li>    
        <img src="{{car.photo.url}}" style="width: 500px; height: 300px;">

        <a class="car-name" href="{% url 'main:car_details' car.id %}">{{car.brand}}, {{car.model}}</a> 
    </li>
    {% endfor %}
</ul>

</div>
{% endblock %}
