{% extends "base.html" %}

{% block title %}

<title>Cars Page</title>

{% endblock %}

{% block content %}


<ul> 

<form action="{{ request.get_full_path }}" method="get">
   <button type="submit" name="sort_price" value="ascending">Sort up by price</button>
   <button type="submit" name="sort_price" value="descending">Sort down by price</button>
   <button type="submit" name="sort_year" value="ascending">Sort up by year</button>
   <button type="submit" name="sort_year" value="descending">Sort down by year</button>
</form>

<div id="sidebar">
   <h3>Cars</h3>
   
   <ul>
       <li><a href="{%url 'main:cars'%}">All cars</a></li>
       {% for c in carcass_types %}
           <li {% if carcass_type.designation == c.designation %}class="selected" {% endif %}>
               <a href="{{ c.get_absolute_url }}">{{ c.designation }}</a>
           </li>
       {% endfor %}
   </ul>
</div>

{% for car in cars%}
<li>    
   <img src="{{car.photo.url}}">

   <a href="{% url 'main:car_details' car.id %}">{{car.brand}}, {{car.model}}</a> 
</li>

{% endfor %}

</ul>
{% endblock %}
