{% extends "base.html" %}

{% block title %}

<title>Cars Page</title>

{% endblock %}

{% block content %}


<ul> 

<form action="{{ request.get_full_path }}" method="get">
   <button type="submit" name="sort_price" value="ascending">Sort up by price</button>
   <button type="submit" name="sort_price" value="descending">Sort down by price</button>
   <button type="submit" name="sort_year" value="ascending">Sort up by year</button>
   <button type="submit" name="sort_year" value="descending">Sort down by year</button>
</form>

<div id="sidebar">
   <h3>Доступные машины</h3>
   
   <form action="{% url 'main:cars' %}" method="get">
    <label for="carcass_type">Выберите тип кузова:</label>
    <select id="carcass_type" name="carcass_type">
        <option value="">Все автомобили</option>
        {% for c in carcass_types %}
            <option value="{{ c.designation }}" {% if car_carcass == c.designation %}selected{% endif %}>
                {{ c.designation }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Применить</button>
</form>

</div>

{% for car in cars%}
<li>    
   <img src="{{car.photo.url}}" style="width: 500px; height: 300px;">

   <a href="{% url 'main:car_details' car.id %}">{{car.brand}}, {{car.model}}</a> 
</li>

{% endfor %}

</ul>
{% endblock %}
