
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


<link rel="stylesheet" type="text/css" href="{% static 'main/create_review.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Young+Serif&display=swap" rel="stylesheet">

    <title>Create</title>

</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {%for f in form%}
        <p><label for="{{f.id_for_label}}">{{f.label}}: </label>{{f}}</p>
        <div>{{f.errors}}</div>
        {%endfor%}
        <input type="submit" value="Save" >
    </form>
</body>
</html>
