{% extends "base.html" %}

{% block title %}

<title>MyAutoShow.by Page</title>

{% endblock %}



{% block content %}
{%if request.user.is_staff%}

<div><a href="{% url 'main:create'%}">add new car</a></div>
{%endif%}
{% for car in cars%}
<li>    
    <img src="{{car.photo.url}}">
   <a href="{% url 'main:car_details' car.id %}">{{car.brand}}, {{car.model}}</a> 
</li>


{% endfor %}
{%if user.is_authenticated%}
<h3>Joke 4u - {{joke}} </h3>
<h3>dog is here - {{dog}}</h3>
{%endif%}
{% endblock %}
