{% extends "base.html" %}

{% load static %}

{%block css %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/js_sandbox.css' %}">
{%endblock%}
{% block title %}

<title>js scripts Page</title>

{% endblock %}

{% block content %}

<h1 style="font-size: 36px; color: black;">Проверка возраста</h1>
<p style="font-size: 36px; color: black;">Введите вашу дату рождения:</p>
<input type="date" id="dob">
<button onclick="checkAge()">Проверить возраст</button>
<p style="font-size: 36px; color: black;" id="result"></p>


<div class="banner" id="banner1">
    <a href="https://www.bmw.fr/fr/accueil.html" target="_blank"><img width="100%" height="250px" src="../media/images/bmw_banner.png" alt="Баннер BMW"></a>
  </div>
  <div class="banner" id="banner2">
    <a href="https://www.audi.fr/fr/web/fr.html" target="_blank"><img width="100%" height="250px" src="../media/images/audi_banner.png" alt="Баннер AUDI"></a>
  </div>
  <div class="banner" id="banner3">
    <a href="https://www.renault.fr/" target="_blank"><img width="100%" height="250px" src="../media/images/renault_banner.png" alt="Баннер RENAULT"></a>
  </div>
  <form id="rotationForm" {% if not user.is_superuser %}style="display: none;"{% endif %}>
    <label for="rotationInterval">Интервал ротации (сек):</label>
    <input type="number" id="rotationInterval" value="2">
    <button type="button" id="startRotation">Start Rotation</button>
    <button type="button" id="stopRotation">Stop Rotation</button>
</form>


<script src="{% static 'main/js/banner.js'%}"></script>
<script src="{% static 'main/js/banner.js'%}"></script>

{% endblock %}
