{% extends "base.html" %}

{% load static %}

{%block css %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/js_sandbox.css' %}">
{%endblock%}
{% block title %}

<title>js scripts Page</title>

{% endblock %}

{% block content %}

<h1 style="font-size: 36px;">Проверка возраста</h1>
<p style="font-size: 36px;">Введите вашу дату рождения:</p>
<input type="date" id="dob">
<button onclick="checkAge()">Проверить возраст</button>
<p style="font-size: 36px;" id="result"></p>


<div class="banner" id="banner1">
    <a href="https://www.bmw.fr/fr/accueil.html" target="_blank"><img width="100%" height="250px" src="../media/images/bmw_banner.png" alt="Баннер BMW"></a>
  </div>
  <div class="banner" id="banner2">
    <a href="https://www.audi.fr/fr/web/fr.html" target="_blank"><img width="100%" height="250px" src="../media/images/audi_banner.png" alt="Баннер AUDI"></a>
  </div>
  <div class="banner" id="banner3">
    <a href="https://www.renault.fr/" target="_blank"><img width="100%" height="250px" src="../media/images/renault_banner.png" alt="Баннер RENAULT"></a>
  </div>
  <form id="rotationForm" {% if not user.is_superuser %}style="display: none;"{% endif %}>
    <label for="rotationInterval">Интервал ротации (сек):</label>
    <input type="number" id="rotationInterval" value="2">
    <button type="button" id="startRotation">Start Rotation</button>
    <button type="button" id="stopRotation">Stop Rotation</button>
</form>
<div class="scroll">
  <img id = "right_car" src="https://www.transparentpng.com/thumb/car-png/car-amazing-image-download-9.png" alt="Car Amazing Image Download @transparentpng.com">
   <img id = "left_car" src="https://www.transparentpng.com/thumb/car-png/photos-png-clipart-car-4.png" alt="photos png clipart car @transparentpng.com">  
  <img id="bottom_car" src="https://www.transparentpng.com/thumb/cars/7F9Ean-red-mustang-car-rear-view-download.png" alt="red mustang car rear view download @transparentpng.com">
  <img id = "center_car"src="https://www.transparentpng.com/thumb/car-png/photos-car-1.png" alt="photos car @transparentpng.com">
</div>
<script src="{% static 'main/js/age.js'%}"></script>
<script src="{% static 'main/js/banner.js'%}"></script>
<script src="{% static 'main/js/animation_scroll.js'%}"></script>
{% endblock %}
