{% extends "base.html" %} {% block title %}

<title>News Page</title>

{% endblock %} {% block content %}
<article>
  <h2>Продажи автомобилей завершили лето рекордом</h2>
  <h4>В августе в РФ продано 110 тыс. машин</h4>
  <img src="../media/images/Машины в РФ.png" alt="Машины в РФ" />
  <details>
    <summary>Читать больше...</summary>
    Как и ожидал «Ъ», в августе продажи новых легковых автомобилей превысили 100
    тыс. штук — за месяц было реализовано 109,7 тыс. машин. Топ марок остается
    без изменений: активнее всего в РФ покупали машины АвтоВАЗа, продолжают
    расти и продажи брендов из Китая — Chery, Haval и Geely. Авторынок на фоне
    роста модельного разнообразия на нем, в том числе расширения предложения
    седанов, такими темпами выйдет на уровень в 1 млн машин к концу года.
    Продажи новых легковых автомобилей в августе выросли в 2,6 раза, до 109,7
    тыс. машин, подсчитал «Автостат» на основе данных «Электронного паспорта».
    Это на 14,7% больше, чем в предыдущем месяце, который уже был рекордным с
    начала кризиса в 2022 году. Рынок продолжает тренд на восстановление после
    спада на фоне приостановок отгрузок и выпуска машин в РФ большинством
    иностранных автоконцернов. Более того, рынок в августе оказался всего
    примерно на 8 тыс. машин ниже, чем в тот же месяц докризисного 2021 года.
    Результат августа оказался близок к прогнозу «Ъ» на основе данных о продажах
    за три недели и общей ситуации на рынке. Сейчас драйвером спроса выступает
    постепенное увеличение предложения марок и моделей на рынке, в том числе в
    сегменте седанов, который в 2022 году опустел с уходом глобальных игроков.
  </details>
</article>
<article>
  <h2>АЕБ ждет роста авторынка до 1 млн штук</h2>
  <h4>Ассоциация обновила прогноз за счет изменения подхода к статистике</h4>
  <img src="../media/images/Шины и зеркало.png" alt="Шины и зеркало" />
  <details>
    <summary>Читать больше...</summary>
    Ассоциация европейского бизнеса (АЕБ) ожидает роста рынка легковых и легких
    коммерческих автомобилей до 1 млн штук по итогам года. Это почти в 1,5 раза
    больше, чем в 2022 году. АЕБ обновила прогноз, изменив данные для подсчета
    динамики рынка. При этом фактически ассоциация просто стала приводить данные
    СП «Автостата» и «Электронного паспорта». В 2023 году рынок новых легковых и
    легких коммерческих автомобилей (LCV) вырастет на 45,6%, до 1 млн машин,
    говорится в обновленном прогнозе АЕБ. Январский прогноз ассоциации
    предполагал рост продаж лишь на 12%, до 770 тыс. автомобилей, но теперь там
    изменили подход к сбору статистики. Традиционно Ассоциация европейского
    бизнеса собирала данные от официальных дистрибуторов автомобилей, а те, в
    свою очередь, получали данные о продажах от собственных дилеров. С весны
    2022 года на фоне военных действий иностранные марки, за исключением
    китайских, приостановили поставки и производство в РФ, и в продажах АЕБ
    отражались только распродаваемые склады, которые были почти исчерпаны уже к
    началу 2023 года. Теперь АЕБ дополнила отчет о продажах данными,
    предоставленными АО ППК (совместное предприятие «Автостата» и АО
    «Электронный паспорт»). Последние включают еще и поставки автомобилей в
    страну в обход официальных импортеров — так называемый параллельный импорт.
  </details>
</article>
<article>
  <h2>Авторынок сдался Lada</h2>
  <h4>Продажи машин в России упали на 63%</h4>
  <img src="../media/images/Lada63.png" alt="Синяя Лада" />
  <details>
    <summary>Читать больше...</summary>
    Рынок автомобилей в России упал на 63,1% по итогам января, отчитались в
    Ассоциации европейского бизнеса (АЕБ). В объемном выражении более половины
    всех проданных машин пришлось на Lada. Но ситуация в большей степени
    отражает кризис предложения — продажи марок не из КНР или традиционных
    отечественных игроков все более незначительны. Кроме того, в статистике не
    учтена китайская Chery, которая по итогам прошлого года заняла почти 8%
    рынка. Продажи легковых и легких коммерческих автомобилей в РФ в январе
    упали на 63,1%, до 32,5 тыс. штук, следует из данных АЕБ (.pdf). Январь —
    традиционно низкий сезон для автопродаж, но в нынешнем году ситуация
    осложнена дефицитом предложения на рынке.
  </details>
</article>

<article style="margin-bottom: 20px">
  <h2>Авторынок вырос в апреле</h2>
  <h4>Продажи увеличились на 70,6%</h4>
  <img src="../media/images/Авторынок в апреле.png" alt="Красный Лексус" />
  <details>
    <summary>Читать больше...</summary>
    Рынок легковых и легких коммерческих автомобилей в апреле вырос сразу на
    70,6%, подсчитали в Ассоциации европейского бизнеса (АЕБ). Рост обусловлен в
    основном низкой базой начала кризиса, а положительную динамику продаж
    показывают только отечественные марки и бренды из Китая. Продажи легковых и
    легких коммерческих автомобилей в апреле выросли на 70,6%, до 54,3 тыс.
    машин, следует из данных АЕБ. Это первый месяц, когда реализация показала
    положительную динамику год к году с начала кризиса. Еще месяцем ранее
    продажи падали на 10,6%. Рынок растет на низкой базе 2022 года — тенденция
    продолжится и в следующем месяце, поскольку именно май прошлого года был
    наиболее низким результатом в этот кризис.
  </details>
</article>
{%endblock%}
