{% extends "base.html" %}

{% load static %}

{%block css %}

<link rel="stylesheet" type="text/css" href="{% static 'main/css/review.css' %}">
{%endblock%}
{% block title %}
<title>Reviews Page</title>
{% endblock %}

{% block content %}
<div class="main-content">
    <h1 class="page-title">Отзывы</h1>

    {% if user.is_authenticated %}
    <a href="{% url 'main:create_review' %}" class="leave-review-button">Оставить
        свой отзыв</a>
    {% else %}
    <a href="{% url 'main:login' %}?next={% url 'main:create_review' %}"
        class="leave-review-button">Оставить свой отзыв</a>
    {% endif %}

    <div class="review-list">
        {% for r in reviews %}
        <div class="review">
            <h2 class="review-author">{{ r.author }}</h2>
            <h3 class="review-text">{{ r.text }}</h3>
            <div class="review-meta">
                <h4 class="review-rating">Оценка: {{ r.rating }}</h4>
                <h4 class="review-date">Добавлен: {{ r.date_added }}</h4>
            </div>
        </div>
        <hr class="review-divider">
        {% endfor %}
    </div>
</div>
{% endblock %}
