body {
    background-image: url("https://gas-kvas.com/uploads/posts/2023-02/1675443528_gas-kvas-com-p-fonovii-risunok-dlya-div-32.jpg");
    background-repeat: no-repeat; /* Запрет повтора изображения */
    background-size: cover;
    background-attachment: fixed; 
}

a:link {
    color: #0077cc; 
    text-decoration: none; 
}


a:visited {
    color: #551a8b; 
}


a:hover {
    color: #ff6600;
    text-decoration: underline;
}


a:active {
    color: #cc0000; 
}

a:focus {
    outline: 2px solid #0077cc; 
}