
/* Стили для родительского контейнера <ul> */
ul.cars {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Создаем грид с 3 колонками */
    gap: 20px; /* Отступ между элементами */
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
  }
  
  /* Стили для элементов списка <li> */
  ul.cars li {
    border: 1px solid #ddd; /* Граница для каждого элемента */
    padding: 10px; /* Внутренний отступ */
    background: white;
  }
  
  .cars li:first-child {
    background: rgb(241, 84, 84);
}

/* Стиль для последнего элемента списка */
.cars li:last-child {
    background: rgb(231, 255, 122);

}

/* Стиль для элемента списка с определенным порядковым номером (например, третий элемент) */
.cars li:nth-child(3) {
    background: rgb(133, 141, 255);
}


  /* Стили для изображения внутри элемента списка */
  ul.cars li img {
    max-width: 100%;
    max-height: auto;
  }

  ul.cars li .car-name:hover {
    color: #ff6600; /* Изменяем цвет при наведении */
  }
  
  ul.cars li .car-name {
    text-decoration: none; /* Убираем подчеркивание ссылки */
    color: #333; /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
  }
  

  